.products{
    /* padding: 80px 116px 0 116px; */
    padding: 80px 0 0 0 ;
    display: flex;
    flex-direction: column;
    background: #FBF8EC;
}

.products__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    font-size: 36px;
    font-weight: 700px;
}

.link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.text{
    display: flex;
    margin: 0;
    padding: 0 25px 0 0;
    color: #606060;
    line-height: 24px;
    font-size: 16px;
}

.productCards{
    display: flex;
    justify-content: space-between;
}
