.filterSection {
    box-sizing: border-box;
    grid-area: filterSection;
    display: flex;
    flex-direction: column;
}

.filterTitle {
    box-sizing: border-box;
    padding: 10px;
    background: #F3F2F1;
    border-radius: 4px;
    font-weight: 700;
    margin: 0 0 40px 0;

}

.priceFilter {
    box-sizing: border-box;
    margin: 0 0 40px 0;
}

.filterLabel {
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 12px 0;
}

.priceInput {
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #BFBFBF;
}

.priceFilter span {
    padding: 0 5px;
}

.checkboxes {
    box-sizing: border-box;
    padding: 0;
   display: flex;
   flex-direction: column;
   margin: 0 0 40px 0;
}

.checkboxLabel {
    box-sizing: border-box;
}

.checkbox {
    box-sizing: border-box;
}

.applyButton {
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    background: #FF6633;
    border: none;
    padding: 8px 0;
    font-size: 16px;
}